div#details-info {
  position: relative;
}
#details-info div#vertical-line {
  border-left: 2px solid #eee;
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  bottom: 26px;
}
#details-info div.detail-row {
  position: relative;
  margin-left: -6px;
}
#details-info span.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2px;
  position: absolute;
}
#details-info span.accept-time {
  margin-left: 18px;
}
#details-info span.accept-station {
  padding-left: 8px;
}
