<div id="details-info">
  <div id="vertical-line"></div>
  {% if data is not empty %}
    <div>{{ data.context|raw }}</div>
  {% else %}
    {{ 'No delivery information available'|trans }}
  {% endif %}
</div>
<div>{{ data.remarks }}</div>
